@font-face {
  font-family: norse-bold;
  src: url(fonts/norse/Norsebold.otf);
}

body {
  margin: 0;
  padding: 0;
}
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.left {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: clamp(5%, 40%, 1200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & .logo {
    font-size: 64px;
    font-family: norse-bold, "Times New Roman", Times, serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: 20%;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      height: 100%;
    }
  }

  & .attribution {
    margin-bottom: 1em;
    & a {
      color: inherit;
    }
    color: white;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(249, 249, 249);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  .top {
    padding-left: 2em;
    .long-quote {
      font-size: 1.5em;
    }
  }

  .bottom {
    padding-left: 2em;
  }

  & .form-text {
    font-size: 1.2em;
  }
}

form {
  padding: 2em 40% 2em 2em;
  background-color: white;

  & .form-rows {
    display: flex;
    flex-flow: row wrap;
    gap: 3em;
  }
}

input {
  border: 1px solid #e5e7eb;
  padding: 4px;
  width: 15em;
}

label {
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  font-size: 12px;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
