@font-face {
  font-family: norse-bold;
  src: url(fonts/norse/Norsebold.otf);
}

/* .page {
    width: 100vw;
    height: 100vh;
}
.left {
    background-image: url(images/background.jpg);
    min-width: 300px;
    min-height: 200px;
} */

/* .x {
    text-transform: capitalize;
} */